{% comment %} {% include "gestionproduits/header.html" %} {% endcomment %}
{% load static %}


<link rel="stylesheet" href="{% static 'Compte/css/style2.css' %}">
<link rel="shortcut icon" href="{% static "gestionproduits/images/favicon.ico" type="image/x-icon" %}">
    <link rel="apple-touch-icon" href="{% static "gestionproduits/gestionproduits/images/apple-touch-icon.png" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "gestionproduits/css/bootstrap.min.css" %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static "gestionproduits/css/style.css" %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static "gestionproduits/css/responsive.css" %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "gestionproduits/css/custom.css" %}">
    <script src="{% static "gestionproduits/js/dist/cleave.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/cleave-phone.gn.js" %}"></script>
    <body id="corp">
      
        <center>
        <!-- {% for messages in message  %}
        <h2 style="color: red;">{{messages}}</h2>
        {% endfor %} -->
        {% if errors %}
        <h3 style="color: red;">{{errors}}</h3>
        {% endif %}
        </center>
       
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            {% comment %} <div class="card py-3 px-2" id="card">
                <p class="text-center mb-3 mt-2">SE CONNECTER AVEC</p>
                <div class="row mx-auto ">
                    <!-- <div class="col-4">
                        <i class="fab fa-twitter"></i>
                    </div> -->
                    <div class="col-6">
                     <a href="#"> <center><i class="fab fa-facebook p-3"></i></center></a>
                    </div>
                    <div class="col-6">
                     <a href="{% provider_login_url 'google' %}"><center>  <i class="fab fa-google p-3"></i></center></a>
                    </div>
                </div>
                <div class="division">
                    <div class="row">
                        <div class="col-3"><div class="line l"></div></div>
                        <div class="col-6"><span>OU AVEC MON ID</span></div>
                        <div class="col-3"><div class="line r"></div></div>
                    </div>
                </div> {% endcomment %}
                <form class="myform" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="ancien mot de passe" id="form-control" name="password">
                      </div>
                     <div class="form-group">
                        <input type="password" class="form-control" placeholder="nouveau mot de passe" id="form-control" name="nouveau">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="confirme mot de passe" id="form-control" name="confirme">
                      </div>
                      <!-- <div class="row"> -->
                          <!-- <div class="col-md-6 col-12">
                              <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" id="form-control">
                                <label class="form-check-label" for="exampleCheck1">Rester connecte</label>
                              </div>
                          </div> -->
                          <!-- <div class="col-md-12 col-12 bn">
                           <center> <a style="color: #57557A;" href="{% url 'reset_password' %}">Mot se passe oublie</a></center>
                          </div> -->
                      <!-- </div> -->
                      <div class="form-group mt-3">
                          <button type="submit" class="btn btn-block btn-primary btn-lg"><small><i class="far fa-user pr-2"></i>modifier</small></button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>

        <script src="{% static "gestionproduits/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/popper.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/bootstrap.min.js" %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static "gestionproduits/js/jquery.superslides.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/bootstrap-select.js" %}"></script>
    <script src="{% static "gestionproduits/js/inewsticker.js" %}"></script>
    <script src="{% static "gestionproduits/js/bootsnav.js" %}"></script>
    <script src="{% static "gestionproduits/js/images-loded.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/isotope.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/baguetteBox.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/form-validator.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/contact-form-script.js" %}"></script>
    <script src="{% static "gestionproduits/js/custom.js" %}"></script>
    <script src="{% static "gestionproduits/js/dist/cleave.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/cleave-phone.gn.js" %}"></script>

</body>