{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "gestionproduits/css/bootstrap.min.css" %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static "gestionproduits/css/style.css" %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static "gestionproduits/css/responsive.css" %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "gestionproduits/css/custom.css" %}">
    <script src="{% static "gestionproduits/js/dist/cleave.min.js" %}"></script>
    <script src="{% static "gestionproduits/js/cleave-phone.gn.js" %}"></script>
    <style>
        input{
            /* border-radius: 15px 15px 15px 15px; */
            font-weight: 500;
            text-align: center;
            color: green;
            
        }
        body{
            background: linear-gradient(to bottom, #ADD8E6, #000080);
        }
        label{
            font-size: 25px;
            color: black;
        }
    </style>
</head>
<body style=>
    


           
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
  
    <!-- End Top Search -->

    <!-- Start Slider -->
    {% if errors %}
     <h1 class="mt-5 ml-3" style="color: red;">{{errors}}</h1>
    {% endif %}
           <center>
          <div class="container mt-3 mb-5" id="parent">
            
                    <form action="" class="" method="post" enctype="multipart/form-data" > 
                        {% csrf_token %}
                       <legend style="color: green">Modifiez vos informations</legend>
                        <div class="row">
                           
                            <div class="co-md-12 col-sm-12 ">
                                <label for="">Prenom</label>
                                <div class="form-group">
                                    
                                    <input class=" " value="{{user.last_name}}" type="text" name="lastname" placeholder="Nom" required size="50px">
                                </div>
                            </div>
                            <div class="co-md-12 col-sm-12 ">
                                <label for="">nom</label>
                                <div class="form-group">
                                    <input class="" value="{{user.first_name}}" type="text" name="firstname" placeholder="prenom" required size="50px">
                                </div>
                            </div>
                            <div class="co-md-12 col-sm-12 ">
                                <label for="">email</label>
                                <div class="form-group">
                                    <input class="" value="{{user.email}}" type="email" name="email" placeholder="entrez votre email" required size="50px">
                                </div>
                            </div>
                            <div class="co-md-12 col-sm-12 ">
                                <label for="">telephone</label>
                                <div class="form-group">
                                    <input class="" value="{{user.phone}}" type="tel" id="phone" name="phone" placeholder="telephone" required size="50px">
                                </div>
                            </div>
                           
                           
                                <!-- <div class="form-group">
                                    <label for="">Profil:  </label>
                                    <input value="{{user.image}}" type="file" placeholder="choisir un profil" name="image" required>
                                </div> -->
                                <div class="co-md-12 col-sm-12 " " >
                                    
                                    <div class="form-group" >
                                        <input class="btn btn-primary mr-5" value="soumettre" type="submit"   required size="50px">
                                        <a class="btn pr-3  " href="{% url "home" %}" style="background-color: rgb(241, 41, 241); color: white;" >annuler</a>
                                    </div>
                                   
                                     
                                    
                                </div>
                              
                            </div>
                            
                        </div>
                    </form>
                    <div>
                        <a style="color: green; font-size: 25px;" href="{% url "change_pass" %}">modifiez le mot de passe?</a>
                    </div>
             
          </div>
      
    </center>
    </div>
</center>
    </div>
    
    <!-- End Blog  -->


    <!-- Start Instagram Feed  -->
 
    <!-- End Instagram Feed  -->


    
    <!-- ALL JS FILES -->
   <script>
      const telephone=document.getElementById('phone')
      const traite=new Cleave(telephone,{
        phone:true,
        phoneRegionCode:'GN'
      });
      console.log(traite);
   </script> -->
   

<script src="{% static "account/js/dist/cleave.min.js" %}"></script>
    <script src="{% static "account/js/cleave-phone.gn.js" %}"></script>

</body>
</html>